/bower_components/*  
*.gem
*.rbc
*.old
.bundle
.config
.grunt
codekit-config.json
tmp
*.DS_Store
.sass-cache/*
*.orig
node_modules
docs/public/*
*.scssc
*.rbenv-version
*.ruby-version
.archive
*.sublime-project
*.sublime-workspace
